/* Variables */
:root {
    --side-padding: 10mm;
    --top-padding: 10mm;
    --bottom-padding: 25mm;
    --heading-margin-top: 5mm;
    --subheading-margin-top: 0;
    --heading-colour: darkslateblue;
}

/* Add heading to continuation pages */
div#content .page:first-child > *:first-child::before {
    display: none;
}

div#content .page > *:first-child::before {
    content: "Ian Finch";
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

div#content .page > h4 {
    margin-top: 0;
    padding-top: 1em;
}

/* Add colour to the header section */
div#content h1,
div#content h1 + h2,
div#content h1 + h2 + p,
.page > *:first-child::before {
    background: var(--heading-colour);
    color: white;
    margin: 0 calc(-1 * var(--side-padding));
    padding: 0 var(--side-padding);
}

div#content h1 {
    font-size: 32px;
    padding-top: var(--top-padding);
    padding-bottom: 0.5em;
}

div#content h1 + h2 {
    font-size: 20px;
    padding-bottom: 0.5em;
}

div#content h1 + h2 + p {
    padding-bottom: var(--top-padding);
}

/* Layout for sections */
div#content h2 {
    margin-top: var(--heading-margin-top);
    color: var(--heading-colour);
}

div#content h3 {
    margin-top: var(--heading-margin-top);
}

div#content h2 + h3, div#content h3 + h3 {
    margin-top: var(--subheading-margin-top);
}

/* Dates are in italics in h3, so take them out of bold */
div#content h3 > em {
    font-weight: normal;
}

/* Icons */
i[class^="css-icon-"] {
    display: inline-block;
    content-visibility: hidden;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-size: cover;
    margin-left: 2em;
}

i[class^="css-icon-"]:first-child {
    margin-left: 0;
}

i.css-icon-email {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1tYWlsIj48cGF0aCBkPSJNNCA0aDE2YzEuMSAwIDIgLjkgMiAydjEyYzAgMS4xLS45IDItMiAySDRjLTEuMSAwLTItLjktMi0yVjZjMC0xLjEuOS0yIDItMnoiPjwvcGF0aD48cG9seWxpbmUgcG9pbnRzPSIyMiw2IDEyLDEzIDIsNiI+PC9wb2x5bGluZT48L3N2Zz4=);
}

i.css-icon-phone {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1waG9uZSI+PHBhdGggZD0iTTIyIDE2LjkydjNhMiAyIDAgMCAxLTIuMTggMiAxOS43OSAxOS43OSAwIDAgMS04LjYzLTMuMDcgMTkuNSAxOS41IDAgMCAxLTYtNiAxOS43OSAxOS43OSAwIDAgMS0zLjA3LTguNjdBMiAyIDAgMCAxIDQuMTEgMmgzYTIgMiAwIDAgMSAyIDEuNzIgMTIuODQgMTIuODQgMCAwIDAgLjcgMi44MSAyIDIgMCAwIDEtLjQ1IDIuMTFMOC4wOSA5LjkxYTE2IDE2IDAgMCAwIDYgNmwxLjI3LTEuMjdhMiAyIDAgMCAxIDIuMTEtLjQ1IDEyLjg0IDEyLjg0IDAgMCAwIDIuODEuN0EyIDIgMCAwIDEgMjIgMTYuOTJ6Ij48L3BhdGg+PC9zdmc+);
}

i.css-icon-location {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1tYXAtcGluIj48cGF0aCBkPSJNMjEgMTBjMCA3LTkgMTMtOSAxM3MtOS02LTktMTNhOSA5IDAgMCAxIDE4IDB6Ij48L3BhdGg+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyI+PC9jaXJjbGU+PC9zdmc+);
}
