/* Variables */
:root {
    --side-padding: 10mm;
    --top-padding: 10mm;
    --bottom-padding: 25mm;
    --heading-colour: darkslateblue;
}

/* Add heading to continuation pages */
div#content .page:first-child > *:first-child::before {
    display: none;
}

div#content .page > *:first-child::before {
    content: "Ian Finch";
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

div#content .page > h4 {
    margin-top: 0;
    padding-top: 1em;
}

/* Add colour to the header section */
div#content h1, div#content h1 + ul, .page > *:first-child::before {
    background: var(--heading-colour);
    color: white;
    margin: 0 calc(-1 * var(--side-padding));
    padding: 0 var(--side-padding);
}

div#content h1 {
    font-size: 32px;
    padding-top: var(--top-padding);
    padding-bottom: 0.5em;
}

div#content h1 + ul {
    padding-bottom: var(--top-padding);
    list-style-type: none;
}

div#content h1 + ul li:first-child {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 0.5em;
}

/* Layout for sections */
div#content h2 {
    margin-top: var(--top-padding);
    color: var(--heading-colour);
}
