/* Colours */
:root {
    --default-body-bg: #fff;
    --default-body-fg: #000;
    --default-body-fg-strong: dodgerblue;
    --default-pre-bg: #ccc;
    --default-panel-bg: #fff;
    --default-success-bg: #c6efce;
    --default-success-fg: #006100;
    --default-warning-bg: #ffeb9c;
    --default-warning-fg:#9c5700;
    --default-failure-bg: #ffc7ce;
    --default-failure-fg:#9c0006;
}

/* CSS reset */
* { box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,

/* Reset any floats */
.reset {
  clear: both;
}
/* Style standard elements */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: var( --body-bg, var( --default-body-bg ) );
  color: var( --body-fg, var( --default-body-fg ) );
}
h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  margin-bottom: 0.5em;
}
em,
i {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
code {
  font-family: courier;
}
pre {
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 6em;
  background: var( --pre-bg, var( --default-pre-bg ) );
  padding: 0.5em 1em;
}

ul, ol {
  margin-left: 3em;
  margin-bottom: 0.5em;
  position: relative;
}

ul > ul, ol > ol, ul > ol, ol > ul {
  margin-top: 0.2em;
}
a {
  text-decoration: none;
  color: #0000ff;
  cursor: pointer;
}
a:hover {
  color: #cc0000;
  text-decoration: underline;
}

/* Use a flex layout to manage the navigation bar */
div#container {
    display: flex;
}

div#nav {
    background: darkcyan;
    color: white;
    padding: 8px;
}

div#nav h1 {
    font-size: 16px;
}

div#nav a {
    color: white;
}

div#nav ul {
    margin-left: 14px;
}

div#nav li {
    margin-bottom: 2px;
}

/* Hide and show the links */
div#nav ul {
    display: none;
}

div#nav h1 {
    color: mediumturquoise;
    cursor: pointer;
}

div#nav h1:hover {
    color: #ffff00;
    text-decoration: underline;
}

div#nav h1.expanded {
    color: #ffffff;
}

div#nav h1.expanded + ul {
    display: block;
}

/* The content area */
div#content {
  padding: 24px 32px;
}

/* If there's a bullet list directly after the heading, don't indent it */
h2 + ul, h3 + ul, h4 + ul {
    margin-left: 0;
    list-style: inside;
}

/* Tables */
table {
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 8px;
}
table tbody td {
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-weight: bold;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table tfoot td {
}

/* Style any chessboards */
.chessboard {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 32px;
    flex: 0 0 240px;
}

.chessboard-container {
    display: flex;
    gap: 24px;
}

.chessboard-container ul {
    margin-left: 1em;
}

.chessboard-container table {
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.chessboard-container table thead {
    display: none;
}

.chessboard-container table tr {
    background: none;
}

.chessboard-container table td {
    padding: 0px 8px;
}

.chessboard-container p {
    max-width: 800px;
}

.chessboard-blue .white-1e1d7 {
    background-color: aliceblue;
}

.chessboard-blue .black-3c85d {
    background-color: lightseagreen;
}

footer {
}

/* Tables */
.bookmarks table {
  border-collapse: collapse;
}
.bookmarks table tr {
    background: none;
}

.bookmarks table td, .bookmarks table th {
  color: var( --body-fg, var( --default-body-fg ) );
  padding: 0px 8px;
}
.bookmarks table td:first-child, .bookmarks table th:first-child {
  padding: 0px 8px 0px 0px;
  font-weight: bold;
}
.bookmarks table tbody td {
}
.bookmarks table thead {
}
.bookmarks table thead th {
  font-weight: bold;
}
.bookmarks table tfoot {
  font-weight: bold;
}
.bookmarks table tfoot td {
}

/* Checkboxes */
li.task-list-item {
    padding-left: 1.5em;
    margin-bottom: 1px;
}

/* Use #content to increase specificity */
#content li.task-list-item span {
    display: inline-block;
    padding-right: 4px;
}

li.task-list-item input[type="checkbox"] {
    appearance: none;
    position: absolute;
    width: 0;
}

li.task-list-item input[type="checkbox"] + span::before {
    width: 1.4em;
    text-align: center;
    content: "";
    position: absolute;
    left: 0;
    font-family: "Line Awesome Free";
    font-weight: 900;
    font-size: 16px;
}

li.task-list-item input[type="checkbox"]:checked + span::before {
    content: "\f00c";
    color: var( --success-fg, var( --default-success-fg ) );
    background: var( --success-bg, var( --default-success-bg ) );
}

li.task-list-item input[type="checkbox"]:not(:checked) + span::before {
    content: "\f04d";
    color: var( --failure-fg, var( --default-failure-fg ) );
    background: var( --failure-bg, var( --default-failure-bg ) );
}

li.task-list-item.waiting-for input[type="checkbox"]:not(:checked) + span::before {
    content: "\f04d";
    color: var( --warning-fg, var( --default-warning-fg ) );
    background: var( --warning-bg, var( --default-warning-bg ) );
}

li.task-list-item input[type="checkbox"] + span {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

li.task-list-item input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var( --success-fg, var( --default-success-fg ) );
    background: var( --success-bg, var( --default-success-bg ) );
}

li.task-list-item input[type="checkbox"]:not(:checked) + span {
    color: var( --failure-fg, var( --default-failure-fg ) );
    background: var( --failure-bg, var( --default-failure-bg ) );
}

li.task-list-item.waiting-for input[type="checkbox"]:not(:checked) + span {
    color: var( --warning-fg, var( --default-warning-fg ) );
    background: var( --warning-bg, var( --default-warning-bg ) );
}

/* Remove the colour from strong tags within task items */
li.task-list-item strong {
    color: inherit;
}

/* Spreadsheet-style table formatting */
.spreadsheet table {
    border-collapse: collapse;
    margin-bottom: 32px;
    margin-right: 32px;
}

.spreadsheet thead {
    background: none;
    border-bottom: none;
}

.spreadsheet tr:nth-child(even) {
    background: none;
}

.spreadsheet th {
    font-size: 12px;
    color: #44546a;
    font-weight: bold;
    border-bottom: 3px solid #2f75b5;
    vertical-align: middle;
}

.spreadsheet tr:first-child th:first-child {
    font-size: 20px;
    border-bottom: 3px solid #2f75b5;
}

.spreadsheet th[colspan] {
    font-size: 14px;
    border-right: double #000 3px;
}

.spreadsheet th[colspan]:last-child {
    border-right: none;
}

.spreadsheet td {
    font-size: 12px;
    background: #ffcc99;
    color: #3f3f76;
    border-color: #3f3f76;
}

.spreadsheet td:first-child {
    background: #ffffcc;
    color: #000;
    border-color: #3f3f76;
}

.spreadsheet th.end-of-group, .spreadsheet td.end-of-group {
    border-right: double #000 3px;
}

.spreadsheet th.end-of-group:last-child {
    border-right: none;
}

.spreadsheet td.end-of-group:last-child {
    border-right: solid 1px #3f3f76;
}

.spreadsheet td.calculation {
    background: #f2f2f2;
    color: #fa7d00;
    font-weight: bold;
}

.spreadsheet td.good {
    background: var( --success-bg, var( --default-success-bg ) );
    color: var( --success-fg, var( --default-success-fg ) );
}

.spreadsheet td.bad {
    background: var( --failure-bg, var( --default-failure-bg ) );
    color: var( --failure-fg, var( --default-failure-fg ) );
}

/* A list directly under a table is assumed to be notes for the table */
.spreadsheet table + ul {
    margin-top: -28px;
    margin-left: 1em;
    margin-bottom: 32px;
    font-size: 12px;
    font-style: italic;
}

/* Mermaid diagrams we want a plain background */
pre.mermaid {
    background: transparent;
}
