/* Colours */
:root {
    --default-body-bg: #ffe;
    --default-body-fg: #592a0e;
    --default-body-fg-strong: dodgerblue;
    --default-pre-bg: #ccc;
    --default-header-bg: #592a0e;
    --default-header-fg: #fff;
    --default-header-title-bg: #f2dfa7;
    --default-header-title-fg: #592a0e;
    --default-header-border-bg: #592a0e;
    --default-header-accent-bg: #f2dfa7;
    --default-header-accent-fg: #592a0e;
    --default-header-link-fg: goldenrod;
    --default-header-link-hover: yellow;
    --default-icon-bg: #f2dfa7;
    --default-icon-fg: #06c;
    --default-icon-border-bg: #592a0e;
    --default-panel-bg: #fff;
    --default-success-bg: #c6efce;
    --default-success-fg: #006100;
    --default-failure-bg: #ffc7ce;
    --default-failure-fg:#9c0006;
}

/* Variables */
:root {
    --section-width: 320px;
    --section-gutter: 48px;
    --icon-size: 24px;
    --ball-diameter: 30px;
    --ball-border: 2px;
    --ball-padding: 2px;
    --column-width: 145px;
    --column-gutter: 5px;
}

/* CSS reset */
* { box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}
/* Reset any floats */
.reset {
  clear: both;
}
/* Style standard elements */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: var( --body-bg, var( --default-body-bg ) );
  color: var( --body-fg, var( --default-body-fg ) );
}
h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  margin-bottom: 0.5em;
}
em,
i {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
code {
  font-family: courier;
}
pre {
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 6em;
  background: var( --pre-bg, var( --default-pre-bg ) );
  padding: 0.5em 1em;
}

ul, ol {
  margin-left: 3em;
  margin-bottom: 0.5em;
  position: relative;
}

ul > ul, ol > ol, ul > ol, ol > ul {
  margin-top: 0.2em;
}
a {
  text-decoration: none;
  color: #0000ff;
  cursor: pointer;
}
a:hover {
  color: #cc0000;
  text-decoration: underline;
}
/* The header area */
header {
  background: var( --header-accent-bg, var( --default-header-accent-bg ) );
  background-size: 80px 35px;
  background-position: 99% 36px;
  height: 32px;
  border-color: var( --header-border-bg, var( --default-header-border-bg ) );
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

header::before {
  content: "";
  display: block;
  width: 100%;
  background: var( --header-bg, var( --default-header-bg ) );
  height: 24px;
}

header nav {
    display: block;
    position: absolute;
    top: 2px;
    right: 16px;
    color: var( --header-link-fg, var( --default-header-link-fg ) );
}

header nav a {
    color: var( --header-link-fg, var( --default-header-link-fg ) );
}

header nav a:hover {
    color: var( --header-link-hover, var( --default-header-link-hover ) );
}

header h1 {
  position: relative;
  top: -24px;
  display: inline-block;
  margin: 0px 0px 0px 32px;
  background: var( --header-title-bg, var( --default-header-title-bg ) );
  color: var( --header-title-fg, var( --default-header-title-fg ) );
  padding: 8px 16px;
  border-color: var( --header-border-bg, var( --default-header-border-bg ) );
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 16px 16px;
}
/* The content area */
div#content {
  margin: 0 auto;
  padding: 24px 32px;
}

/* Wrap panels */
div#content.panels {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* We want to wrap bookmarks vertically */
div#content.bookmarks {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 100px);
}

/* Panel-based sections */
#content.panels section {
  background: var( --panel-bg, var( --default-panel-bg ) );
  max-width: 740px;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid black;
}

/* Highlighted sections */
#content section.highlighted {
    background: #ffffa5;
}

/* Content containing text notes */
#content.text-notes section {
    max-width: 800px;
}

/* If there's a bullet list directly after the heading, don't indent it */
h2 + ul, h3 + ul, h4 + ul {
    margin-left: 0;
    list-style: inside;
}

/* Tables */
table {
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 8px;
}
table tbody td {
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-weight: bold;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table tfoot td {
}

/* Style any chessboards */
.contains-chessboard {
}

.contains-chessboard table {
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.contains-chessboard table thead {
    display: none;
}

.contains-chessboard table tr {
    background: none;
}

.contains-chessboard table td {
    padding: 0px 8px;
}

.section-content {
    width: 460px;
    display: inline-block;
    vertical-align: top;
}

.chessboard {
    width: 240px;
    display: inline-block;
    vertical-align: top;
}

.chessboard-blue .white-1e1d7 {
    background-color: aliceblue;
}

.chessboard-blue .black-3c85d {
    background-color: lightseagreen;
}

.bookmarks a {
  color: var( --body-fg, var( --default-body-fg ) );
}

.bookmarks strong {
    color: var( --body-fg-strong, var( --default-body-fg-strong ) );
}

.bookmarks section {
  width: var(--section-width);
  margin-bottom: 24px;
  margin-right: var(--section-gutter);
  position: relative;
}

.bookmarks h2 {
  line-height: 20px;
  padding-bottom: 4px;
  color: var( --body-fg, var( --default-body-fg ) );
  border-color: var( --icon-border-bg, var( --default-icon-border-bg ) );
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.bookmarks h3 {
  color: var( --body-fg, var( --default-body-fg ) );
  font-style: italic;
}

.bookmarks ul {
  padding: 0px;
  margin-left: 0px;
  list-style-type: none;
  color: var( --body-fg, var( --default-body-fg ) );
}

.bookmarks h2 i {
    display: inline-block;
    font-size: var(--icon-size);
    font-style: normal;
    color: var( --icon-fg, var( --default-icon-fg ) );
    background: var( --icon-bg, var( --default-icon-bg ) );
    height: calc(var(--ball-diameter) + var(--ball-border));
    width: calc(var(--ball-diameter) + var(--ball-border));
    padding-top: var(--ball-padding);
    text-align: center;
    border-color: var( --icon-border-bg, var( --default-icon-border-bg ) );
    border-style: solid;
    border-width: var(--ball-border);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 9px;
}

.bookmarks h2::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: var( --icon-border-bg, var( --default-icon-border-bg ) );
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 21px;
}

.bookmarks p {
    font-style: italic;
    margin-bottom: 0.7em;
}

/* If we use two columns, reduce the width of list items */
.bookmarks ul.twocolumn li {
  width: var(--column-width);
  height: 10px;
  padding: 0px;
  margin: 0;
}

/* In two columns, every other entry is positioned as a right hand column */
.bookmarks ul.twocolumn li:nth-child(even) {
    position: relative;
    left: calc(var(--column-width) + var(--column-gutter));
    top: -8px;
}

/* If we have two columns and the list item is in the left column, we need to
 * add a bit of additional space at the bottom */
.bookmarks ul.twocolumn li:nth-child(even) + li:last-child {
    margin-bottom: 18px;
}

footer {
}

/* Tables */
.bookmarks table {
  border-collapse: collapse;
}
.bookmarks table tr {
    background: none;
}

.bookmarks table td, .bookmarks table th {
  color: var( --body-fg, var( --default-body-fg ) );
  padding: 0px 8px;
}
.bookmarks table td:first-child, .bookmarks table th:first-child {
  padding: 0px 8px 0px 0px;
  font-weight: bold;
}
.bookmarks table tbody td {
}
.bookmarks table thead {
}
.bookmarks table thead th {
  font-weight: bold;
}
.bookmarks table tfoot {
  font-weight: bold;
}
.bookmarks table tfoot td {
}

/* Checkboxes */
li.task-list-item {
    padding-left: 1.5em;
    margin-right: calc(var(--ball-diameter) + var(--ball-border));
}

li.task-list-item input[type="checkbox"] {
    appearance: none;
    position: absolute;
    width: 0;
}
li.task-list-item input[type="checkbox"] + span::before {
    width: 1.4em;
    text-align: center;
    content: "\f04d";
    position: absolute;
    left: 0;
    font-family: "Line Awesome Free";
    font-weight: 900;
    font-size: 16px;
    background: var( --failure-bg, var( --default-failure-bg ) );
}
li.task-list-item input[type="checkbox"]:checked + span::before {
    content: "\f00c";
    background: var( --success-bg, var( --default-success-bg ) );
}
li.task-list-item input[type="checkbox"] + span {
    display: block;
    font-size: 14px;
    line-height: 20px;
}
li.task-list-item input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var( --success-fg, var( --default-success-fg ) );
    background: var( --success-bg, var( --default-success-bg ) );
}
.bookmarks input[type="checkbox"]:not(:checked) + span {
    color: var( --failure-fg, var( --default-failure-fg ) );
    background: var( --failure-bg, var( --default-failure-bg ) );
}

/* Spreadsheet-style table formatting */
.spreadsheet table {
    border-collapse: collapse;
    margin-bottom: 32px;
    margin-right: 32px;
}

.spreadsheet thead {
    background: none;
    border-bottom: none;
}

.spreadsheet tr:nth-child(even) {
    background: none;
}

.spreadsheet th {
    font-size: 12px;
    color: #44546a;
    font-weight: bold;
    border-bottom: 3px solid #2f75b5;
    vertical-align: middle;
}

.spreadsheet tr:first-child th:first-child {
    font-size: 20px;
    border-bottom: 3px solid #2f75b5;
}

.spreadsheet th[colspan] {
    font-size: 14px;
    border-right: double #000 3px;
}

.spreadsheet th[colspan]:last-child {
    border-right: none;
}

.spreadsheet td {
    font-size: 12px;
    background: #ffcc99;
    color: #3f3f76;
    border-color: #3f3f76;
}

.spreadsheet td:first-child {
    background: #ffffcc;
    color: #000;
    border-color: #3f3f76;
}

.spreadsheet th.end-of-group, .spreadsheet td.end-of-group {
    border-right: double #000 3px;
}

.spreadsheet th.end-of-group:last-child {
    border-right: none;
}

.spreadsheet td.end-of-group:last-child {
    border-right: solid 1px #3f3f76;
}

.spreadsheet td.calculation {
    background: #f2f2f2;
    color: #fa7d00;
    font-weight: bold;
}

.spreadsheet td.good {
    background: var( --success-bg, var( --default-success-bg ) );
    color: var( --success-fg, var( --default-success-fg ) );
}

.spreadsheet td.bad {
    background: var( --failure-bg, var( --default-failure-bg ) );
    color: var( --failure-fg, var( --default-failure-fg ) );
}
